@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'OpenSans Regular';
    font-weight: 400;
}

@font-face {
    src: url('../fonts/OpenSans-Bold.ttf');
    font-family: 'OpenSans Bold';
    font-weight: 700;
}

@font-face {
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-family: 'OpenSans ExtraBold';
    font-weight: 800;
}

body {
    margin: 0;
/*    background-color: #F6F2F2;*/
}

header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #000;
    max-width: 1249px;
    min-height: 90px;
    margin: 0 auto 100px;
}

h2 {
    color: #585858;
    margin: 0;
    font-family: 'OpenSans Bold';
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
}

p {
    margin: 0;
    font-family: 'OpenSans Regular';
    font-size: 16px;
    line-height: 28px;
}

.site-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
/*    width: 50%;*/
}

.site-menu > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 40px 30px 32px;
/*    width: 20%;*/
/*    height: 100%;*/
    color: #E0E0E0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'OpenSans Bold', Helvetica, Arial, sans-serif;
}

.site-menu > a:hover {
    background-color: #FF3F40;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1249px;
/*    height: 100vh;*/
    margin: 0 auto;
    padding: 0 1vw;
    padding-bottom: 95px;
}

.intro {
/*    display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    flex: 1 1 50%; 
    min-height: 356px;
    width: 50%;
    margin-right: 0;
    margin-bottom: 10px;
    padding-right: 15px;
}

.intro-h1 {
    font-size: 60px;
    margin: 0;
    word-break: break-word;
    text-transform: uppercase;
    font-family: 'OpenSans ExtraBold', Helvetica, Arial, sans-serif;
}

.intro-text {
    font-size: 16px;
    margin-bottom: 50px;
    font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;
}

.intro-image {
/*    display: flex;
    width: 50%;*/
    flex: 1 1 50%; 
    max-width: 551px;
    max-height: 356px;
}

.intro-image > img {
    width: 100%;
}

.intro-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #FF2D2D;
    width: 230px;
    height: 58px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'OpenSans Bold', Helvetica, Arial, sans-serif;
}

footer {
    background-color: #313030;
    padding: 0 8vw;
}

.footer-wrapper {
    box-sizing: border-box;
    padding: 19px 0 0;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 113px;
    background-color: #313030;
}

.footer-social-links > a {
    margin-right: 18px;
}


@media screen and (max-width: 700px) {
    .content {
        justify-content: center;
    }
    .intro {
        width: 100%;
    }
    .intro-image {
        width: 100%;
        height: auto;
    }
}

/*SUBSCRIBE*/
.subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.subscribe {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #2c2c2c;
    padding-top: 124px;
    padding-bottom: 140px;
}

.subscribe-wrapper {
    max-width: 1249px;
    margin: 0 auto;
    text-align: center;
}

.subscribe-heading {
    color: #fff;
    opacity: 0.8;
    text-transform: none;
    margin-bottom: 30px;
}

.subscribe-wrapper > p {
    color: #fff;
    opacity: 0.8;
    margin-bottom: 50px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form > input {
    box-sizing: border-box;
    flex: 0 1 521px;
    max-width: 521px;
    min-height: 79px;
    padding: 0;
    padding-left: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 22px;
}   

.subscribe-form > button {
    color: #fff;
    font-size: 18px;
    font-family: 'OpenSans Bold';
    width: 214px;
    min-height: 79px;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

/*FEEDBACK*/
.feedback-contacts-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FFF;
    max-width: 1249px;
    margin: 0 auto;
    padding: 92px 1vw 110px; 
}

.feedback {
    max-width: 731px;
    margin-right: 107px;
}

.feedback > h2 {
    margin-bottom: 34px;
}

.feedback > p {
    max-width: 720px;
    margin-bottom: 50px;
}

.feedback-line {
    width: 122px;
    height: 3px;
    background-color: #ff2d2d;
    border: none;
    margin-left: 0;
    margin-bottom: 75px;
}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feedback-form > input {
    box-sizing: border-box;
    font-size: 16px;
    width: 342px;
    max-width: 342px;
    height: 69px;
    background-color: #F2F2F2;
    padding-left: 50px;
    margin-bottom: 45px;
    border-radius: 5px;
    border: none;
}

.feedback-form > textarea {
    font-size: 16px;
    font-family: 'OpenSans Regular';
    width: 731px;
    max-width: 731px;
    height: 249px;
    background-color: #F2F2F2;
    padding-top: 35px;
    padding-left: 50px;
    margin-bottom: 45px;
    border-radius: 5px;
    border: none;
    resize: none;
}

.feedback-form > .message-input {
    resize: none;
    font-size: 16px;
    font-family: 'OpenSans Regular';
    width: 731px;
    max-width: 731px;
    height: 249px;
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 54px;
    padding-bottom: 150px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;  
}

.feedback-form > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 731px;
    max-width: 731px;
    height: 72px;
    font-size: 18px;
    color: #FFF;
    font-family: 'OpenSans Bold';
    text-transform: uppercase;
    background-color: #FF3B3B;
    border: none;
    border-radius: 5px;  
}

/* CONTACTS */
.contacts {
    position: relative;
    color: #e0e0e0;
    background-color: #2c2c2c;
    padding: 142px 80px;
}

.contacts > h2 {
    color: #e0e0e0;
    font-size: 18px;
}

.contacts > h2 {
    margin-bottom: 13px;
}

.contacts-address > p {
    margin-bottom: 17px;
}
